/******************************************************************************
* OpenLP - Open Source Lyrics Projection                                      *
* --------------------------------------------------------------------------- *
* Copyright (c) 2008-2015 OpenLP Developers                                   *
* --------------------------------------------------------------------------- *
* This program is free software; you can redistribute it and/or modify it     *
* under the terms of the GNU General Public License as published by the Free  *
* Software Foundation; version 2 of the License.                              *
*                                                                             *
* This program is distributed in the hope that it will be useful, but WITHOUT *
* ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or       *
* FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for    *
* more details.                                                               *
*                                                                             *
* You should have received a copy of the GNU General Public License along     *
* with this program; if not, write to the Free Software Foundation, Inc., 59  *
* Temple Place, Suite 330, Boston, MA 02111-1307 USA                          *
******************************************************************************/

:root {
	--vw: 1vw;
	--vh: 1vh;
	--footer: 27;
	/*--split: .602vw;*/
	--split: calc(1vw - 2481 * var(--vh) / 3507);
	/* --split: calc(1vw - 2481vh / 3507); */
	/* --split: calc(1vw - 2481dvh / 3507); */
}

@font-face {
	font-family: "Arial Narrow";
	src: url(assets/ARIALN.TTF);
}

@font-face {
	font-family: "Arial Narrow";
	src: url(assets/ARIALNB.TTF);
	font-weight: bold;
}

@font-face {
	font-family: "Arial Narrow";
	src: url(assets/ARIALNBI.TTF);
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: "Arial Narrow";
	src: url(assets/ARIALNI.TTF);
	font-style: italic;
}

body {
	background-color: black;
	font-family: 'Arial Narrow';
	font-size: calc(4.2 * var(--vw));
	-moz-user-select: none;
	margin: 0;
	-webkit-user-select: none;
	-ms-user-select:none; 
	user-select:none;
	-o-user-select:none;
	overflow-y: overlay;
	scrollbar-width: none; /* Firefox */
	-ms-overflow-style: none;  /* Internet Explorer 10+ */
}

body::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
}

#main {
	position: fixed;
	width: calc(100 * var(--vw));
	height: calc(100 * var(--vh) - (6.75 * var(--vw)) - (var(--footer) * var(--vw)));
	/* height: calc(100vh - (6.75 * var(--vw)) - (var(--footer) * var(--vw))); */
	/* height: calc(100dvh - (6.75 * var(--vw)) - (var(--footer) * var(--vw))); */
	overflow-y: overlay;
	scrollbar-width: none; /* Firefox */
	-ms-overflow-style: none;  /* Internet Explorer 10+ */
	/* scroll-behavior: smooth; */
}

.main-portrait {
	left: 0;
	top: calc(6.75 * var(--vw));
	width: calc(100 * var(--vw));
	height: calc(100 * var(--vh) - (6.75 * var(--vw)) - (var(--footer) * var(--vw)));
	/* height: calc(100vh - (6.75 * var(--vw)) - (var(--footer) * var(--vw))); */
	/* height: calc(100dvh - (6.75 * var(--vw)) - (var(--footer) * var(--vw))); */
}

.main-landscape {
	width: calc(100vw - (6.75 * var(--vw)) / 2);
	height: calc(100 * var(--vh));
	/* height: 100dvh; */
	left: calc(6.75 * var(--vw));
	top: 0;
}

#main::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
}

#footer {
	margin: 0;
	padding: 0;
	position: fixed;
	width: calc(100 * var(--vw));
	height: calc(var(--footer) * var(--vw));
	bottom: 0;
}

.emptyslide {
	font-size: 10vw !important;
	color: white !important;
	text-align: center;
	padding-top: .2em !important;
}

#service-next, #slide-next, #service-prev, #slide-prev, #service-jump {
	font-size: 2em;
	color: white;
	background: #396b9e;
	background-image: linear-gradient(#5f9cc5, #396b9e);
	text-shadow: 0 1px 1px #194b7e;
	border: 1px solid #044062;
	border-radius: .2em;
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	padding: 0;
	margin: 0;
	line-height: 26vw;
	cursor: pointer;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select:none; 
	user-select:none;
	-o-user-select:none;
}

#header {
/*	position: fixed;*/
	top: 0;
	left: 0;
	background-color: black;
	z-index: 2;
	display: flex;
}

.header-portrait {
	height: calc(6.75 * var(--vw));
	width: calc(100 * var(--vw));
}

.header-landscape {
	height: 100vw;
	width: calc(6.75 * var(--vw));
}

#slides > span.presentation {
	display: flow-root;
	font-size: .75em;
	font-weight: normal;
}

#slides img {
	height: calc(30 * var(--vw));
}

.presentation img {
	float: left;
}

#clock {
	font-size: 75%;
	color: yellow;
	text-align: right;
	vertical-align: middle;
	display:inline-block;
}

#notes {
	font-family: monospace;
	font-size: 75%;
	color: salmon;
	text-align: right;
	vertical-align: middle;
	display:inline-block;
	background-color: black;
}

#nextsong, #prevsong {
	font-size: 75%;
	bottom: 0;
	color: lightgray;
}

#subheader {
	height: calc(6.75 * var(--vw));
}
#kotta {
	display: none;
	height: calc(100 * var(--vh));
	/* height: 100dvh; */
	position: fixed; /* Stay in place */
	z-index: 3; /* Sit on top */
	top: 0;
	background-color: rgb(0,0,0); /* Black fallback color */
/*	background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
	overflow-x: hidden; /* Disable horizontal scroll */
	text-align: center;
	overflow-y: overlay;
	scrollbar-width: none; /* Firefox */
	-ms-overflow-style: none;  /* Internet Explorer 10+ */
/*	transform: translate(50%);*/
/*	transition: 0.1s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

.kottafull {
	left: 0;
	width: 100vw;
}

.kottaright {
	width: calc(100 * 2481 * var(--vh) / 3507);
	/* width: calc(100 * 2481dvh / 3507); */
	/* left: calc(100vw - 100 * 2481 * var(--vh) / 3507); */
	/* left: calc(100vw - 100 * 2481dvh / 3507); */
	right: 0;
}

#servicelist {
	display: none;
	width: calc(100 * var(--vw));
	height: calc(100 * var(--vh));
	/* height: 100dvh; */
	position: fixed;
	top: 0;
	left: 0;
	z-index: 3;
	background-color: black;
	color: white;
	font-size: calc(3 * var(--vw));
	transition: 0.1s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

#allsongsearch {
	font-size: calc(4.5 * var(--vw));
	width: calc(88.5 * var(--vw));
}

#kotta::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
}

#kottabuttons {
	position: absolute;
	width: auto;
	text-align: right;
	z-index:5;
}

.kottafull #kottabuttons {
	height: 5vw;
	top: 1vw;
	right: 1vw;
	line-height: 6vw;
	font-size: 4vw;
}

.kottaright #kottabuttons {
	height: calc(5 * 2481 * var(--vh) / 3507);
	/* height: calc(5 * 2481dvh / 3507); */
	top: calc(1 * 2481 * var(--vh) / 3507);
	/* top: calc(1 * 2481dvh / 3507); */
	right: calc(1 * 2481 * var(--vh) / 3507);
	/* right: calc(1 * 2481dvh / 3507); */
	line-height: calc(6 * 2481 * var(--vh) / 3507);
	/* line-height: calc(6 * 2481dvh / 3507); */
	font-size: calc(4 * 2481 * var(--vh) / 3507);
	/* font-size: calc(4 * 2481dvh / 3507); */
}

/*.kottaright #kottabuttons {
	--kottabuttonunit: 1%;
	height: calc(5 * var(--kottabuttonunit));
	top: calc(1 * var(--kottabuttonunit));
	right: calc(1 * var(--kottabuttonunit));
	line-height: calc(60 * var(--kottabuttonunit));
	font-size: calc(40 * var(--kottabuttonunit));
}*/

.kottabutton {
	display: inline-block;
	font-family:Arial;
	text-decoration: none;
	text-align: center;
	color: #818181;
	background-color: rgb(10,10,10); /* Black fallback color */
	background-color: rgba(10,10,10, 0.8); /* Black w/opacity */
}

.kottafull .kottabutton {
	width: 6vw;
	height: 6vw;
	margin: .2vw;

}

.kottaright .kottabutton {
	width: calc(6 * 2481 * var(--vh) / 3507);
	/* width: calc(6 * 2481dvh / 3507); */
	height: calc(6 * 2481 * var(--vh) / 3507);
	/* height: calc(6 * 2481dvh / 3507); */
	margin: calc(.2 * 2481 * var(--vh) / 3507);
	/* margin: calc(.2 * 2481dvh / 3507); */
}

#kotta img {
	object-fit:contain;
	left: 0;
	width: 100%;
	transition: all 0.2s ease;
	position: absolute;
	background-color: #ffffff;
}
#kotta .kottaright {
	margin-left: 100%;
}
#transposecontainer {color:gray;}
#transpose, #capodisplay { display: inline-block; vertical-align: middle; color:gray;}
#transposevalue { display: inline-block;  vertical-align: middle;}
#transposeup, #transposedown {
	font-family: "Arial Narrow";
}
#resettheresttranspose {
	display: block;
}

#slidesettings {
	display: none;
	position: fixed;
	z-index: 3;
	background-color: rgba(0,0,0, 0.5);
	text-align: center;
	vertical-align: center;
	width: calc(100 * var(--vw));
	height: calc(100 * var(--vh));
	/* height: 100dvh; */
	top: 0;
	left: 0;
}

#slidesettingswindow {
	display: absolute;
	border: solid;
	border-width: 1px;
	border-color: white;
	background-color: black;
	position: fixed;
	/*width: calc(30 * var(--vw));
	height: calc(16 * var(--vw));*/
	left: 50%;
	top: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: center;
	vertical-align: center;
	padding: calc(2 * var(--vw));;
}

#metronomewindow {
	display: none;
	border: solid;
	border-width: 1px;
	border-color: white;
	background-color: black;
	position: fixed;
	/*width: calc(30 * var(--vw));
	height: calc(16 * var(--vw));*/
	left: 50%;
	top: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: center;
	vertical-align: center;
	padding: calc(2 * var(--vw));;
	z-index: 3;
}

#verseorder { font-size: 75%; color: green; text-align: left; line-height: 1.5; display:none; vertical-align: middle;}
.worshipbandwarning {color:#844; text-decoration:underline;}
.currentslide .worshipbandwarning {color:#f44;}
#prevslide .notes, #nextslide .notes {color: #181;}
.currentslide .blink {animation: blinker 1s linear infinite;}
.right {
	margin-left: auto;
	margin-top: auto;
	display: inline-block;
}
.button {
	display: inline-block;
	width: calc(6 * var(--vw));
	height: calc(6 * var(--vw));
	vertical-align: middle;
	line-height: calc(6 * var(--vw));
	text-align:center;
	box-sizing: border-box;
	border: 1px solid gray;
	border-radius: .3em;
	text-shadow: .02em .02em white;
	color: black;
	background-color:gray;
	background: linear-gradient(to bottom, white 5%, gray 100%);
	cursor: pointer;
	font-size: 100%;
	margin:.1em;
}

#screen {text-shadow: 0 0 0 black;}

.buttonenabled {
	background-color:#0f0;
	background: linear-gradient(to bottom, #0f0 5%, #151 100%);
	border: 1px solid #181;
	color: lightgray;
	text-shadow: .02em .02em black;
}

.jumpenabled {
	background-color:#0f0;
	background: linear-gradient(to bottom, #070 5%, #151 100%) !important;
}

/*.button:hover {
	background-color:white; color: black; cursor: default;
	background: linear-gradient(to bottom, white 10%, gray 150%);
	color: darkslategray;
	background-color: gray; 
}*/

.button:active {
	position: relative;
	top: .1vw;
	left: .1vw;
}

.listtitle {
	width: 89%;
	display: inline-block;
}

.jumpbutton {
	font-size: 1.2em !important;
	line-height: 1.2em !important;
	width: 10%;
	height: 5vw !important;
	padding-top: .1em;
}

.hidden {
	display: none;
}

sup {
	font-size: 50%;
	line-height: 0;
}

.visible {display: inline-block;}
.currenttag { color: lightgreen; font-weight: bold;}
.chordline, .nochordline {display: block; padding-top: 1em; font-size: 100%; color: gray;}
.chordline { line-height:1.8em;}
.nochordline { line-height:1em; }
.notes {color:#3f3; font-size: .67em; font-weight: normal; height: auto; line-height:1em;}
.chordline .notes { position:relative; top: -.6em;}
.nochordline .notes { position:relative; top: 0;}
.nextslide {margin-bottom: calc(3 * var(--vw));}
.chordline span.chord {line-height:1em;}
.chordline span.chord span { position:relative;}
.chordline span.chord span strong { position:absolute; top:-1em; left:0; line-height:1em; font: normal 75% 'Arial Narrow', 'Avenir Next Condensed', sans-serif-condensed, Arial, sans-serif; color:orange !important; -webkit-text-fill-color:orange; width: max-content;}
.currentslide span.chord span strong { color: yellow !important; -webkit-text-fill-color:yellow; font-weight:bold;}
.currentslide {	font-size: 100%; color: white; font-weight: bold;}
.chordtail {font-size: 75%; line-height: 0; vertical-align:super; top: .2em;}

.nexttransposevalue {size: calc(5 * var(--vw)); vertical-align: top; color: red; text-align: left; padding-bottom: 1.5%; font-size: 75%; line-height: 1;}
@keyframes blinker {
  100% {
    opacity: 0;
  };
}

.list {
	font-size: calc(6 * var(--vw));
	white-space: nowrap;
}

.list:nth-of-type(even) {
	background-color: #222;
}

.servicelist {
	font-size: calc(3 * var(--vw));
	line-height: calc(6 * var(--vw));
	white-space: nowrap;
}

.servicelist:nth-of-type(even) {
	background-color: #222;
}

.servicelist:nth-of-type(odd) {
	background-color: #333;
}

.notsong {
	color: #444 !important;
}

#searchtoolbar {
	height: calc(6.75 * var(--vw));
}

#listsongs, #searchsongs {
	position: fixed;
	height: calc(100 * var(--vh) - calc(6.75 * var(--vw)));
	/* height: calc(100dvh - calc(6.75 * var(--vw))); */
	overflow-y: overlay;
	scrollbar-width: none; /* Firefox */
	-ms-overflow-style: none;  /* Internet Explorer 10+ */
	width: calc(100 * var(--vw));
}

#listsongs::-webkit-scrollbar, #searchsongs::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
}